.mat-elevation-z8 {
  position: relative;
  top: 40px;

  box-shadow: none; /*disable box shadow */
  overflow: auto;
  height: 400px !important;
 /*  width: max-content; */

}

.mat-mdc-dialog-content {
  position: relative;
  top: -8%;
}

.mat-mdc-header-cell {
  font-size: small !important;
  font-weight: bold !important ;
  /* width: 175px !important; */
  background-color: #89ba40 !important;
  color: #050038;
}

.close {
  cursor: pointer;

  padding: 12px 16px;
  font-size: larger;
  font-family: Poppins;
}

.mat-mdc-cell {
  height: 10% !important;
}

.input-group {
  position: relative;
  top: 5%;
  left: 1095px;
  display: flex;
  align-items: center;
  border: solid #ccc;
  border-radius: 44px;
  /* transition: border-color 0.3s, box-shadow 0.3s; */
  font-family: Poppins;
}

.input-group:hover {
  border-color: #03714f;
  box-shadow: rgb(137, 186, 64);
}

.form-control {
  border: none;
  box-shadow: none;
  border-radius: 44px;
}

.form-control:focus {
  box-shadow: none;
}

.input-group-append .btn {
  border: none;
  box-shadow: none;
}

.input-group-text {
  border-radius: 44px;
  border: none;
}

.mat-mdc-table {
  /* width: 1225px !important;  */
  width: 97%;
  min-width: 10%;
  font-family: Poppins;
}
.mat-column-_user {
  width: 5% !important;
}

.excel_download_button {
  position: relative;
  top: 12%;
  /* left: 81%;  */
  left: 1030px;
  border-radius: 5px;
  width: max-content;
  height: 40px;
  border-color: #037b55;
}

@media (max-width: 600px) {
  .mat-mdc-header-cell {
    width: 70px !important;
  }

  .mat-mdc-table {
    padding: 8px;
    font-size: 12px;
    position: relative;
    top: 40px;

    box-shadow: none; /*disable box shadow */
    overflow: auto;
    height: auto !important;
    width: auto !important;
  }

  .mat-mdc-dialog-content {
    overflow: scroll;
  }
}
