<div class="book_container col-6 col-sm-4"  >

  
  <div>Book Price</div>
  <br/>

  <div>

    <select [(ngModel)]="selectedValue" title="Select" (change)="onChange($event)">
      <option *ngFor="let item of partners" [value]="item.partnerName" >{{ item.partnerName }}</option>
    </select>
  </div>
 

  <br/>
  <div>  <p>Selected Value: {{ selectedValue }}</p></div>

  <button (click)="openDailog()" (click)="sendData(selectedValue)" type="button" class="btn btn-outline-primary">View Clients</button>


</div>


  
